﻿@model AssignmentCheckViewModel
@{ var evaluation = Model.Evaluation; }

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

<pre>
    * "Close-answer" questions are automatically calculated by the system.
    * Please set each score for open-answer questions, as minimum should be 0 and maximum should be question weight.
</pre>
<hr />
<h3>
    @evaluation.Title
</h3>

<pre>
    @evaluation.Description
</pre>

<div class="content">
    <div class="row">
        <div class="questions">
            @foreach (var question in evaluation.Questions)
            { 
                <div class="questions well">
                    <div class="question-options">
                        <span class="question-title">Question @(question.Order + 1)</span>
                        <span class="pull-right">
                            Weight: @question.Weight
                        </span>
                        <p class="question-text">
                            @question.Text
                        </p>

                        <strong>
                            Score:
                            @if (question.Type == QuestionType.FreeText)
                            {
                                <input type="text" class="form-control answer-score" />
                            }
                            else
                            {
                                <span class="generated-score">@question.Score</span>
                            }
                        </strong>
                    </div>
                    <div class="question-answers">
                        @if (question.Type == QuestionType.FreeText)
                        {
                            <span class="form-control">@question.TextAnswer</span>
                        }
                        else
                        {
                            foreach (var answer in question.Answers)
                            {
                                <div class="answer input-group input-group-lg  @GetAnswerClass(answer)">
                                    <span class="input-group-addon">
                                        @if (question.Type == QuestionType.Single)
                                        {
                                            <input type="radio" disabled="disabled"/>
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }
                                    </span>
                                    <span class="form-control">@answer.Text</span>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary btn-block btn-lg" id="save-score" data-user-id="@Model.AssignerId" data-evaluation-id="@Model.EvaluationId" data-org-id="@Model.Navigation.OrgId">Save score</button>
        </div>
    </div>
</div>

@functions {
    public string GetAnswerClass(AnswerCheckedViewModel answer)
    {
        if (answer.Selected == true)
        {
            if (answer.Right == true)
            {
                return "has-success";
            }
            else
            {
                return "has-error";
            }
        }
        else if (answer.Right == true)
        {
            return "has-warning";
        }

        return string.Empty;
    }
}
