﻿@model AssignmentCreateViewModel

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

<h4>Users and templates</h4>

<pre class="alert">
    * Note that each user will get an assignment for each selected template.
    * You have access only to your templates. To create more please visit Develop platform.
</pre>

<div class="row assignments">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Type</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var user in Model.Users)
                            { 
                                  <tr>
                                      <td>@user.Username</td>
                                      <td>@user.Type</td>
                                      <td>
                                          <input type="checkbox" data-user-id="@user.UserId" class="user-checkbox"/>
                                      </td>
                                  </tr>  
                            }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model.Templates)
                        {
                            <tr>
                                <td>@template.Title</td>
                                <td>
                                    <input type="checkbox" data-template-id="@template.Id" data-template-title="@template.Title" class="template-checkbox"/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-success btn-lg btn-block" data-org-id="@Model.Navigation.OrgId" id="create-assignment">Create assignments</button>
    </div>
</div>