﻿@model DoneAssignmentsViewModel

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

<h4> Done assignments </h4>

@if (Model.Assignments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Template</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evaluation in Model.Assignments)
            {
                <tr>
                    <td>@evaluation.Username</td>
                    <td>@evaluation.TemplateTitle</td>
                    <td><a asp-action="Check" asp-route-evaluationId="@evaluation.EvaluationId" asp-route-id="@Model.Navigation.OrgId" asp-route-templateId="@evaluation.TemplateId" class="btn btn-sm btn-success">Check evaluation</a> </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <pre class="alert">
        At the current moment there aren't any completed assignments.
    </pre>
}