﻿@model AssignmentHistoryViewModel
@{
    var assignments = Model.Assignments;
}

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

@if (assignments.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Template title</th>
                <th>Status</th>
                <th>Score</th>
                <th>Max Score</th>
                <th>Date Assigned</th>
                <th>Date Evaluation Started</th>
                <th>Date Evaluation Ended</th>
                <th>Date checked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in assignments)
            {
                <tr>
                    <td>@assignment.TemplateTitle</td>
                    <td>@assignment.Status</td>
                    <td>@assignment.Score</td>
                    <td>@assignment.MaxScore</td>
                    <td>@assignment.DateAssigned?.ToString("dd-MM-yyyy")</td>
                    <td>@assignment.DateEvaluationStart?.ToString("dd-MM-yyyy hh:mm:ss")</td>
                    <td>@assignment.DateEvaluationFinish?.ToString("dd-MM-yyyy hh:mm:ss")</td>
                    <td>@assignment.DateChecked?.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <pre>
        This user has no assignments.
    </pre>
}