﻿<h1>Test Mate <span class="title">Manage</span></h1>
<p class="introduction">
    Manage tests, view history, do boring stuff.
    <div id="options-container">
        <a id="registration-btn" asp-controller="Account" asp-action="Register" class="btn btn-success">Sign up</a>
        <a id="login-btn" asp-controller="Account" asp-action="Login" class="btn btn-primary">Sign in</a>
    </div>
</p>