﻿body {
    background: #ecf0f1;
    font-size: 18px;
    padding-top: 70px; /*navbar*/
}

h1 {
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    font-size: 5.5vw;
    text-shadow: 3px 3px 0px #95a5a6; 
}

h2 {
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    font-size: 3.5vw;
    text-shadow: 3px 3px 0px #95a5a6; 
}

textarea {
    resize: none;
}

span.title {
    text-transform: uppercase;
    font-size: 3em;
}

div.options-container {
    width: 90%;
    margin: 0 auto;
}

#options-container .btn {
    width: 30%;
    border-radius: 0;
    text-transform: uppercase;
    height: 100px;
    font-size: 5em;
    cursor: pointer;
}

#options-container .btn:first-of-type {
    margin-right: 20%;
    margin-left: 10%;
}

p.introduction {
    text-align: center;
}

.form-control {
    margin-top: 10px;
}

#template-container input:not("type=[radio, checkbox]") {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-top: 20px;
    height: 30px;
}

.answer .input-group-addon {
    padding-bottom: 0;
    padding-top: 2px;
}

.answer input.form-control, .answer span.form-control  {
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.answer-score {
    width: 100px;
    display: inline-block;
}

.assignments input[type=checkbox] {
    width: 25px;
    height: 25px;
}
