﻿<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestMateManage</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/flat-ui/dist/css/flat-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <navbar role="navigation" class="navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-action="Index" asp-controller="Organization" class="navbar-brand">Manage</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            @RenderSection("navigation", required: false)
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @await Html.PartialAsync("_LoginPartial")
        </ul>
        <div class="nav-collapse"></div>
    </div>
    </navbar>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
