﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">@User.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li> <a asp-controller="Manage" asp-action="Index" title="Manage">Manage profile</a></li>
                    <li> <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button></li>
                </ul>
            </li>
        </ul>
    </form>
}
