﻿@model OrganizationNavigationViewModel

@if (Model.IsTeacher)
{
    <li>
        <a asp-controller="Organization" asp-action="Management" asp-route-id="@Model.OrgId" class="navbar-brand">Overview</a>
    </li>

    <li>
        <a asp-action="Create" asp-controller="Assignment" asp-route-id="@Model.OrgId" class="navbar-brand">Assignments</a>
    </li>

    <li>
        <a asp-action="DoneAssignments" asp-controller="Assignment" asp-route-id="@Model.OrgId" class="navbar-brand">Check</a>
    </li>

    <li>
        <a asp-action="PendingMemberships" asp-controller="Organization" asp-route-id="@Model.OrgId" class="navbar-brand">Approve</a>
    </li>
}

<li>
    <a asp-action="PersonalHistory" asp-controller="Assignment" class="navbar-brand" asp-route-id="@Model.OrgId">My history</a>
</li>
