﻿@model OrganizationCreateViewModel

@section navigation {
    <li>
        <a asp-action="Create" class="navbar-brand">Create organization</a>
    </li>

    <li>
        <a asp-action="List" class="navbar-brand">View all organizations</a>
    </li>
}

<h2>Create new organization</h2>

@using (Html.BeginForm("Create", "Organization", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12 form-group">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Organization name", pattern = ".{3,}", required="required", @title = "Title should be between 3 and 18 symbols." })


            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Organization description", pattern = ".{10,500}" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
    </div>

    <pre>
        * Title should be between 3 and 18 symbols and is <strong>required</strong>.
        * Description should be between 10 and 500 symbols and is not required.
    </pre>
}