﻿@model IList<OrganizationRoleViewModel>

@section navigation {
    <li>
        <a asp-action="Create" class="navbar-brand">Create organization</a>
    </li>

    <li>
        <a asp-action="List" class="navbar-brand">View all organizations</a>
    </li>
}

@if (Model.Count != 0)
{
    <h2>You're connected to several organizations:</h2>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>            
            @foreach (var role in Model)
            {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @Html.Raw(GetRoleType(role))
                </td>
                <td>
                    @if (role.Approved == true)
                    {
                        <a asp-route-id="@role.Id" asp-action="management" class="btn btn-success btn-xs">Manage</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-xs disabled">Manage</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    @if (Model.Any(x => x.Approved == false))
    {
    <pre class="alert">
* If you role is <button class='btn btn-warning btn-xs'>Pending</button> you should wait to be approved by teacher in organization. 
  Sometimes though you are not approved and if this happens the role will disappear.</pre>
    }
}
else
{
    <pre class="alert">
        At the current moment you are not connected to any organizations. You can check <a asp-action="List">"View all organizations"</a> section.
    </pre>
}

@functions {
        public string GetRoleType(OrganizationRoleViewModel role)
        {
            if (role.Approved == false)
            {
                return @"<button class='btn btn-warning btn-xs'>Pending</button>";
            }
            else if (role.Type == RoleType.Student)
            {
                return @"<button class='btn btn-info btn-xs'>Student</button>";

            }
            else
            {
                return @"<button class='btn btn-primary btn-xs'>Teacher</button>";
            }
        }
    }