﻿@model IList<OrganizationViewModel>

@section navigation {
    <li>
        <a asp-action="Create" class="navbar-brand">Create organization</a>
    </li>

    <li>
        <a asp-action="List" class="navbar-brand">View all organizations</a>
    </li>
}

@if (Model.Count == 0)
{
    <p>There are no organizations here, kid!</p>
}
else
{
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organization in Model)
            {
                <tr>
                    <td>@organization.Name</td>
                    <td>
                        <button 
                                class="btn btn-xs btn-primary join-organization" 
                                data-role="teacher"
                                data-organization-id="@organization.Id">Join as teacher</button>
                        <button class="btn btn-xs btn-info join-organization" 
                                data-role="student" 
                                data-organization-id="@organization.Id">Join as student</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}