﻿@model OrganizationManagementRoleViewModel

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

<h4>Users in organization</h4>

@if (Model.Users.Any())
{
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>

            @if (Model.CurrentUser.Type == RoleType.Teacher)
            {
                <th>Options</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Users)
        {
            <tr>
                <td>@role.Username</td>
                <td>@role.Type</td>
                @if (Model.CurrentUser.Type == RoleType.Teacher)
                {
                    <td>
                        <a class="btn btn-info btn-xs" asp-action="History" asp-controller="Assignment" asp-route-id="@Model.Navigation.OrgId" asp-route-userId="@role.UserId">View results</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
}
else
{
    <pre class="alert alert-info">
        At the current moment there are not any approved users. You can check <a href="#">Approve</a> section. Or come back later.
    </pre>
}