﻿@model OrganizationPendingMembershipsViewModel

@section navigation {
    @Html.Partial("_OrganizationMenu", Model.Navigation)
}

@if (Model.Memberships.Count() == 0)
{
    <pre>
        At the current moment there are not any new members.
    </pre>
}
else
{
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var membership in Model.Memberships)
            {
                <tr>
                    <td>@membership.Username</td>
                    <td>
                        @Html.Raw(GetRoleType(membership))
                    </td>
                    <td>
                        <button class="btn btn-xs btn-success approve-membership" data-org-id="@Model.Navigation.OrgId" data-role-id="@membership.RoleId">Approve</button>
                        <button class="btn btn-xs btn-danger deny-membership" data-org-id="@Model.Navigation.OrgId" data-role-id="@membership.RoleId">Deny</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
        public string GetRoleType(OrganizationRoleViewModel role)
        {
            if (role.Type == RoleType.Student)
            {
                return @"<button class='btn btn-info btn-xs'>Student</button>";

            }
            else
            {
                return @"<button class='btn btn-primary btn-xs'>Teacher</button>";
            }
        }
}